@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  color: hsl(184, 25%, 32%);
}

.container {
  display: flex;
  justify-content: center;
  //   align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0 8rem;
  background-color: hsl(183, 28%, 86%);

  & section {
    font-size: 2rem;
    height: 100%;
    padding: 2rem;
    & .heading {
      margin-bottom: 2rem;
    }
  }
  & .markdown {
    width: 50%;
    & .textarea {
      border-radius: 0.5rem;
      border: none;
      box-shadow: 0.1rem 0.2rem 0.8rem rgb(184, 178, 178);
      height: 80%;
      line-height: 3rem;
      outline: none;
      padding: 1.5rem;
      width: 100%;
    }
  }

  & .results {
    height: 100%;
    width: 50%;
    & .results-box {
      background-color: hsl(0, 24%, 96%);
      border-radius: 0.5rem;
      font-size: 1.6rem;
      height: 80%;
      line-height: 5rem;
      overflow-y: scroll;
      padding: 1.5rem;
      & code {
        background: hsl(0, 0%, 42%);
        color: rgb(248, 240, 236);
        padding: 1rem;
        width: fit-content;
      }
      & img {
        width: 20rem;
      }
      & blockquote {
        border-left: 0.5rem solid hsl(184, 25%, 32%);
        font-size: 1.8rem;
        font-style: italic;
        font-weight: 500;
        padding: 0 1rem;
      }
    }
  }
}
